@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Light.eot");
  src: url("../fonts/subset-ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Light.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Light.woff") format("woff"), url("../fonts/subset-ProximaNova-Light.ttf") format("truetype"), url("../fonts/subset-ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Regular.eot");
  src: url("../fonts/subset-ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Regular.woff") format("woff"), url("../fonts/subset-ProximaNova-Regular.ttf") format("truetype"), url("../fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/subset-ProximaNova-Semibold.eot");
  src: url("../fonts/subset-ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/subset-ProximaNova-Semibold.woff") format("woff"), url("../fonts/subset-ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/subset-ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
}

.text {
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.title {
  font-family: Proxima Nova;
  font-size: 90px;
  font-weight: 600;
  line-height: 90px;
  text-transform: uppercase;
}

.subtitle {
  color: #c1c1c1;
  font-family: Proxima Nova;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: #9071ea;
}

.header {
  background: url(../img/football.jpg) no-repeat center center/cover;
}
.header__transparent {
  background: rgba(10, 14, 52, 0.9);
}
.header__row {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.header__row--top-row {
  padding-top: 55px;
  align-items: center;
}
.header__row--center {
  justify-content: center;
  padding-bottom: 110px;
  margin-top: 180px;
}
.header__container {
  padding: 0 40px 0 40px;
  max-width: 1530px;
  margin: 0 auto;
}
.header__text {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: 300;
}
.header__title {
  padding-top: 20.2%;
  flex-direction: column;
  position: relative;
}
.header__title-item1 {
  z-index: 1;
  letter-spacing: 4.96px;
}
.header__title-item2 {
  text-align: right;
  letter-spacing: 4.5px;
}
.header__title::after {
  content: "";
  display: block;
  width: 380px;
  height: 7px;
  background-color: #5e42b0;
  transform: rotate(-50deg);
  position: absolute;
  top: 390px;
  left: 325px;
}

.logo {
  width: 189px;
  height: 33px;
  background: url(../img/logo.png) no-repeat center center/cover;
}

.nav {
  justify-content: flex-end;
  display: flex;
}
.nav__item {
  padding-left: 50px;
}
.nav__item:hover .link {
  color: #fff;
  transition-duration: .4s;
}
.nav__item--no-padding {
  padding-left: 0;
}

.button {
  width: 311px;
  height: 77px;
  border-radius: 50px;
  background-color: #5e42b0;
  box-shadow: 0 16px 24px #0a0e34;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button__text {
  font-family: Proxima Nova;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 25px;
  line-height: 20px;
}
.button__text-light {
  font-weight: 300;
}
.button__text-bold {
  font-weight: 600;
}
.button--margin-left {
  margin-left: 50px;
  z-index: 1;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.apple {
  width: 33px;
  height: 37px;
  background: url(../img/apple.png) no-repeat center center/cover;
}

.google-play {
  width: 36px;
  height: 39px;
  background: url(../img/google-play.png) no-repeat center center/cover;
}

.athlets {
  position: relative;
  overflow: hidden;
}
.athlets__row {
  padding-left: 50%;
  box-sizing: border-box;
}
.athlets__row--color2 {
  background-color: rgba(94, 66, 176, 0.06);
}
.athlets__row--color3 {
  background-color: #5e42b0;
}
.athlets__row--color4 {
  background-color: rgba(10, 14, 52, 0.04);
}
.athlets__row--color5 {
  background-color: #0a0e34;
}
.athlets__row-item {
  max-width: 700px;
  min-width: 700px;
  padding: 60px 0;
}
.athlets__row-item--padding {
  padding: 90px 0 100px 0;
}
.athlets__row-title {
  margin-top: 110px;
  color: #e7e7e7;
  position: relative;
  min-width: 700px;
}
.athlets__row--bottom {
  padding-right: 50%;
  padding-left: 0;
  justify-content: flex-end;
  display: flex;
}
.athlets__row--slider {
  display: none;
}
.athlets__text {
  padding-top: 15px;
  letter-spacing: 1px;
}
.athlets__text--light-color {
  color: #ffffff;
}
.athlets__num {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.9px;
  vertical-align: super;
  padding-right: 10px;
  position: relative;
}
.athlets__num::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  top: 25px;
}
.athlets__num--color1 {
  color: #0a0e34;
}
.athlets__num--color1::after {
  background-color: #efefef;
}
.athlets__num--color2 {
  color: #9173e6;
}
.athlets__num--color2::after {
  background-color: #ffffff;
}
.athlets__pic {
  width: 678px;
  height: 950px;
  background: url(../img/player1.png) no-repeat center center/cover;
  position: absolute;
  left: -705px;
  top: -60px;
  z-index: 1;
}
.athlets__pic--bottom {
  width: 991px;
  height: 815px;
  background: url(../img/player2.png) no-repeat center center/cover;
  position: absolute;
  left: 570px;
  top: -140px;
  z-index: 1;
}
.athlets__plus {
  width: 15px;
  height: 15px;
  background: url(../img/plus.png) no-repeat center center/cover;
  position: absolute;
  top: 50px;
  left: -600px;
}
.athlets__plus::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  background: url(../img/plus.png) no-repeat center center/cover;
  opacity: 0.3;
  left: -25px;
  top: -10px;
}
.athlets__plus--bottom1 {
  height: 15px;
  width: 15px;
  background: url(../img/plus.png) no-repeat center center/cover;
  position: absolute;
  left: 850px;
  top: -20px;
}
.athlets__plus--bottom1::after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  background: url(../img/plus.png) no-repeat center center/cover;
  position: relative;
  top: 20px;
  left: 25px;
  opacity: 0.4;
}
.athlets__plus--bottom2 {
  height: 15px;
  width: 15px;
  background: url(../img/plus.png) no-repeat center center/cover;
  position: absolute;
  left: 1350px;
  top: 280px;
}
.athlets__line--top::before {
  content: "";
  display: block;
  width: 886px;
  height: 6px;
  background-color: #9172e6;
  transform: rotate(-50deg);
  position: absolute;
  top: 290px;
  left: -900px;
}
.athlets__line--bottom1::before {
  content: "";
  display: block;
  width: 425px;
  height: 6px;
  background-color: #9172e6;
  transform: rotate(-50deg);
  position: absolute;
  top: 420px;
  left: 700px;
}
.athlets__line--bottom2::before {
  content: "";
  display: block;
  width: 420px;
  height: 6px;
  background-color: #9172e6;
  transform: rotate(-50deg);
  position: absolute;
  top: 100px;
  left: 1150px;
}

.description {
  position: relative;
}
.description::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: url(../img/pic1.jpg) no-repeat center center/cover;
}
.description--right::before {
  margin-left: 50%;
  background: url(../img/pic2.jpg) no-repeat center center/cover;
}
.description--bottom::before {
  background: url(../img/pic3.jpg) no-repeat center center/cover;
}
.description__container {
  max-width: 770px;
  margin-left: 50%;
  position: relative;
  box-sizing: border-box;
  padding: 257px 0 122px 127px;
}
.description__container--right {
  margin-right: 50%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 257px 130px 122px 0;
}
.description__title {
  color: #c1c1c1;
}
.description__num {
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  display: flex;
  position: absolute;
  left: -83px;
  top: 220px;
}
.description__num--right {
  left: 687px;
}
.description__num-inner {
  position: relative;
  top: 60px;
  left: 70px;
  color: #f5f6f7;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.description__num-inner::after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}
.description__text {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.2px;
  min-height: 170px;
  position: relative;
  padding-top: 120px;
  max-width: 500px;
}
.description__text::after {
  content: "";
  display: block;
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 20px;
  box-sizing: border-box;
}

.footer {
  background: url(../img/footer.jpg) no-repeat center center/cover;
}
.footer__transparent {
  background: rgba(10, 14, 52, 0.9);
}
.footer__row {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}
.footer__row-container {
  max-width: 921px;
  margin: 0 auto;
  padding-top: 210px;
}
.footer__row-line {
  position: relative;
}
.footer__row-line::before {
  content: "";
  display: block;
  width: 209px;
  height: 5px;
  transform: rotate(130deg);
  background-color: #9172e6;
  position: absolute;
  top: 50px;
  left: -10px;
}
.footer__row-line::after {
  content: "";
  display: block;
  width: 418px;
  height: 5px;
  transform: rotate(130deg);
  background-color: #9172e6;
  position: absolute;
  top: 50px;
  left: 290px;
}
.footer__row--bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  min-height: 168px;
  background-color: rgba(10, 14, 52, 0.6);
  padding: 0 50px;
}
.footer__icon {
  width: 130px;
  height: 137px;
  background: url(../img/artwork.png) no-repeat center center/cover;
  margin-right: 36px;
}
.footer__title {
  letter-spacing: 4px;
  z-index: 1;
  position: relative;
}
.footer__subtitle {
  position: relative;
  z-index: 1;
  color: #a496ca;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  padding-left: 80px;
}
.footer__link {
  color: #ffffff;
}
.footer__link:hover {
  color: #a496ca;
  transition-duration: .4s;
}
.footer__button {
  margin-top: 200px;
}

.fb {
  width: 25px;
  height: 27px;
  fill: #fff;
}

.tw {
  width: 25px;
  height: 22px;
  fill: #fff;
}

.in {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.svg:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

@media screen and (max-width: 1600px) {
  .text {
    font-size: 18px;
  }

  .header__title {
    margin: 0 auto;
    font-size: 64px;
    padding: 16% 11.58% 0;
    line-height: 75px;
  }
  .header__title-item1 {
    letter-spacing: 3.52px;
  }
  .header__title-item2 {
    letter-spacing: 3.2px;
    z-index: 1;
  }
  .header__title::after {
    top: 250px;
    left: 25%;
  }

  .nav {
    justify-content: center;
    margin-top: 184px;
  }

  .athlets__row-item {
    max-width: 420px;
    min-width: auto;
  }
  .athlets__row-title {
    min-width: auto;
  }
  .athlets__text {
    letter-spacing: 0.9;
  }
  .athlets__num {
    vertical-align: text-top;
  }
  .athlets__pic--bottom {
    left: 240px;
    top: -100px;
  }
  .athlets__plus {
    top: -70px;
    left: -410px;
  }
  .athlets__plus--bottom1 {
    left: 530px;
    top: 0px;
  }
  .athlets__line--bottom1::before {
    content: "";
    display: block;
    width: 425px;
    height: 6px;
    background-color: #9172e6;
    transform: rotate(-50deg);
    position: absolute;
    top: 440px;
    left: 380px;
  }

  .description::before {
    position: static;
    width: 100%;
    padding-bottom: 76%;
  }
  .description--right::before {
    margin-left: 0;
  }
  .description__container {
    margin-left: 0;
    max-width: 650px;
    padding: 87px 83px 63px 33px;
  }
  .description__text {
    padding-top: 36px;
    min-height: 100px;
  }
  .description__num {
    width: 116px;
    height: 116px;
    left: 27px;
    top: -80px;
  }
  .description__num-inner {
    top: 35px;
    left: 46px;
  }
  .description__num-inner::after {
    margin-top: 0;
  }

  .footer__row-container {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
  }
  .footer__row--bottom {
    min-height: 92px;
    justify-content: center;
  }
  .footer__row-line::before {
    top: 150px;
    left: -10px;
  }
  .footer__row-line::after {
    top: 150px;
    left: 275px;
  }
  .footer__title {
    padding-top: 80px;
  }
  .footer__subtitle {
    text-align: center;
  }
  .footer__logo {
    display: none;
  }
  .footer__links {
    display: none;
  }
  .footer__social {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .text {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.75px;
  }

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 28px;
    letter-spacing: 1.4px;
  }

  .header__title {
    font-size: 32px;
    line-height: 32px;
    padding: 140px 3% 0;
  }
  .header__title-item1 {
    letter-spacing: 1.76px;
  }
  .header__title-item2 {
    letter-spacing: 1.6px;
  }
  .header__title::after {
    width: 175px;
    height: 3px;
    top: 170px;
    left: 90px;
  }
  .header__container {
    padding: 0 10px;
  }
  .header__text {
    display: none;
  }
  .header__row {
    justify-content: center;
  }
  .header__row--center {
    padding-bottom: 0;
    margin-top: 118px;
  }
  .header__row--order {
    display: flex;
    flex-direction: column;
  }
  .header__row--top-row {
    padding-top: 35px;
  }

  .button {
    width: 142px;
    height: 39px;
    box-shadow: 0 10px 16px #0a0e34;
    z-index: 1;
  }
  .button__text {
    font-size: 8px;
    letter-spacing: 0.4px;
    line-height: 12px;
    margin-left: 8px;
  }
  .button__text-light {
    font-size: 8px;
    line-height: 8px;
  }
  .button__text-bold {
    font-size: 8px;
    line-height: 8px;
  }
  .button--margin-left {
    margin-left: 10px;
  }

  .apple {
    width: 15px;
    height: 17px;
  }

  .google-play {
    width: 16px;
    height: 18px;
  }

  .nav {
    order: 1;
    padding-bottom: 20px;
    margin: 45px auto 0;
    flex-wrap: wrap;
  }
  .nav__item {
    padding-left: 30px;
  }
  .nav__item--no-padding {
    padding-left: 0;
  }

  .athlets__row {
    padding-left: 20px;
  }
  .athlets__row-title {
    margin-top: 25px;
  }
  .athlets__row--bottom {
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  .athlets__row--hide {
    display: none;
  }
  .athlets__row--slider {
    display: block;
    width: 100%;
    height: 88.4%;
    background-color: #f5f4f9;
    padding-left: 20px;
  }
  .athlets__num {
    vertical-align: super;
  }
  .athlets__pic {
    width: 174px;
    height: 281px;
    background: url(../img/player1-320.png) no-repeat center center/cover;
    position: static;
    margin: 0 auto;
  }
  .athlets__pic--bottom {
    width: 302px;
    height: 248px;
    background: url(../img/player2-320.png) no-repeat center center/cover;
    margin: 0 auto;
  }
  .athlets__plus--top {
    top: 100px;
    left: 70px;
  }
  .athlets__plus--bottom1 {
    left: 70px;
    top: 110px;
  }
  .athlets__plus--bottom1::after {
    top: -10px;
    left: -20px;
  }
  .athlets__plus--bottom2 {
    display: none;
  }
  .athlets__line--top::before {
    width: 268px;
    height: 3px;
    top: 200px;
    left: 20px;
    z-index: -1;
  }
  .athlets__line--bottom1::before {
    width: 120px;
    height: 3px;
    top: 150px;
    left: 188px;
    z-index: -1;
  }
  .athlets__line--bottom2::before {
    width: 143px;
    height: 3px;
    top: 270px;
    left: 30px;
    z-index: -1;
  }

  .slider__item {
    max-width: 300px;
  }

  .description__num {
    width: 70px;
    height: 70px;
    top: -50px;
  }
  .description__num-inner {
    top: 22px;
    left: 26px;
  }
  .description__title {
    font-size: 28px;
    line-height: 30px;
  }
  .description__container {
    margin: auto;
    padding: 35px 50px 50px 20px;
  }
  .description__text {
    padding-top: 23px;
  }

  .footer__icon {
    width: 73px;
    height: 78px;
    margin-right: 0;
  }
  .footer__title {
    font-size: 34px;
    letter-spacing: 1.7px;
    line-height: 34px;
  }
  .footer__subtitle {
    font-size: 15px;
    letter-spacing: 0.75px;
  }
  .footer__row-line::before {
    width: 89px;
    top: 100px;
    left: -10px;
  }
  .footer__row-line::after {
    width: 154px;
    top: 110px;
    left: 105px;
  }
  .footer__row--bottom {
    min-height: 50px;
    margin-top: 125px;
  }
  .footer__button {
    margin-top: 70px;
  }
  .footer__social {
    width: 124px;
  }

  .fb {
    width: 15px;
    height: 18px;
  }

  .tw {
    width: 15px;
    height: 15px;
  }

  .in {
    width: 15px;
    height: 17px;
  }
}

/*# sourceMappingURL=13hw.css.map */
